body{
    font-family: 'Pushster', cursive;
}
h1{
    font-size: 50px;
}
.half p
{
    font: 1em sans-serif;
    font-size: 30px;
}
.lol
{
  color: blue;  
}
.half
{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding: auto;
}
.half img{
    width: 100%;
}